<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing GitHubs" parallel="tests" thread-count="2">
    <test name="Regression">
        <classes>
            <class name="LoginTest">
                <methods>
                    <include name="loginTest"></include>
<!--                    <exclude name="thirdTestCase"></exclude>-->
                </methods>
            </class>
        </classes>
    </test>
    <!-- Test -->
</suite> <!-- Suite -->